<div class="topdiv">
  <h1>Plataforma Usuarios</h1>
  <p class="subtitle">Esta plataforma le permitirá: crear, actualizar, consultar y eliminar<br> usuarios</p>
</div>

<div class="centerdiv">  
  <table>
    <table class= "table1">      
        <tr>
          <td>
            <label for="name">Nombre:</label><br>
            <input type="text" #nombre name="name" id="name" placeholder="Nombre">
          </td> 
          <td>
            <label for="surname">Apellido:</label><br>
            <input type="text" #apellido name="surname" id="surname" placeholder="Apellido">   
          </td> 
          <td>
            <label for="cellphone">Celular:</label><br>
            <input type="number" #celular name="cellphone" id="cellphone" placeholder="Celular">  
          </td> 
        </tr>      
      </table> 
      <table class="tablebtncrear">
        <tr>
          <td>
            <button id="crearButton" (click)="onFormSubmit(nombre.value, apellido.value, celular.value); nombre.value=''; apellido.value = ''; celular.value='' ">Crear</button>
          </td>  
        </tr>
        </table> 
        <table>
        <tr>
          <td>            
            <input type="text" id="searchInput"  placeholder="Buscar..." title="Type in a name" style="width:560px">
            <button id="buscarButton" onclick="onBuscar()"> <img src="https://cdn-icons-png.flaticon.com/512/622/622669.png" width="10" height="10"></button>            
          </td>  
       </tr>          
      </table>  
      <table class="list" id="storeList">
        <thead>
          <tr>
            <th>Nombre</th> 
                       
            <th>Apellido</th>
            <th>Celular</th>
            <th>Accion</th>            
          </tr>
          <tr *ngFor = "let user of Userarray">

            <td>{{ user.name }}</td>        
            <td>{{ user.surname }}</td>        
            <td>{{ user.cellphone }}</td>
            <td> <button (click)="onEdit(user.id)">Edit</button> <button (click)="onDelete(user.id)">Delete</button> </td>
        
          </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
 </table>
  <p id="demo"></p>
</div>
<div class="bottomdiv">
  <button onclick="location.href = 'https://www.google.com/';">Salir</button>
</div>